@page
@model Restaurante.Pages.Platos.DeleteModel
@{
    ViewData["Title"] = "Delete Plato";
}

<h1>Delete Plato</h1>

<h3>¿Estás segura de que quieres eliminar esto?</h3>
<div>
    <h4>Plato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plato.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plato.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plato.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plato.PrecioVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plato.Descripción)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plato.Descripción)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Plato.IdPlato" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to list</a>
    </form>
</div>