@page
@model Restaurante.Pages.Platos.IndexModel
@{
    ViewData["Title"] = "Index Platos";
}
<h1>Index Platos</h1>
<p>
    <a asp-page="Create" class="btn btn-success">Creat New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Platos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platos[0].PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platos[0].Descripcion)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Platos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnitario)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdPlato">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdPlato">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdPlato">Delete</a>
                </td>
                <td>
                    <span></span>
                </td>
            </tr>
        }
    </tbody>
</table>