@page
@model Restaurante.Pages.Pedidos.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pedido.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pedido.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido.ClienteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pedido.ClienteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pedido.Estado)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Pedido.IdPedido" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to list</a>
    </form>
</div>

